.btn {
  font-size: var(--body-1);
  line-height: var(--body-1-line);
  text-decoration: none;
  text-transform: uppercase;

  max-width: fit-content;
  padding: 1.6rem 3rem;
  border-radius: 4rem;
}

.btn-primary {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-super-light);
  box-shadow: var(--shine-medium);

  opacity: 0.9;
  transition: all 0.3s;
}

.btn-secondary {
  color: var(--color-primary-super-light);
  box-shadow: rgba(230, 72, 61, 0) 0px 0px 24px;

  transition: all 0.3s;
}

.btn:hover {
  box-shadow: var(--shine-strong)
}

.btn-primary:hover {
  opacity: 1;
}

.btn-secondary:hover {
  color: var(--color-secondary-dark);
  background-color: var(--color-secondary-super-light);
}
