footer {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

footer a:hover {
    cursor: pointer;
}

.dragon-logo:hover {
    box-shadow: var(--shine-medium);
    border-radius: 50%;
}

.footer-contact {
    display: flex;
    gap: 2rem;
}

.footer-contact a {
    padding: 0.5rem;
}

.footer-contact a:hover {
    box-shadow: var(--shine-soft);
    border-radius: 50%;
}

.footer-contact img {
    width: 4rem;
    height: auto;
}

/* ------------------------------------------------ */
/* Media Queries */

@media (min-width: 768px) {
    footer {
        flex-direction: row;
    }
}