/* --- Navigation --- */
header {
    position: fixed;
    top: 2rem;
    left: 50%;
    width: 94%;
    max-width: 1440px;
    padding: clamp(0.75rem, 2vw, 1.5rem);
    border-radius: clamp(0.75rem, 2vw, 1.5rem);
    transform: translateX(-50%);
    transition: top 0.3s, border-radius 0.3s, width 0.3s, max-width 0.3s;
  
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    background-color: var(--color-primary-dark);
    box-shadow: var(--shine);
  }
  
  /* sobald Body die scroll Klasse hat, mach das */
  body.scroll header {
    top: 0;
    max-width: 100%;
    width: 100%;
    border-radius: 0;
  }
  
  .header-buttons {
    display: flex;
    gap: 2.5rem;
  }
  
  nav a {
    font-size: var(--h4);
    font-weight: bold;
    line-height: var(--h4-line);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-secondary-super-light);
  }
  
  .mobile-btn {
    background-color: var(--color-primary-very-light);
    box-shadow: rgba(67, 183, 255, 0.2) 0px 0px 44px, inset rgba(67, 183, 255, 0.2) 0px 0px 30px, rgba(67, 183, 255, 0.2) 0px 0px 55px, rgba(67, 183, 255, 0.4) 0px 0px 75px, rgba(67, 183, 255, 0.4) 0px 0px 95px;
    display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 1rem;
  }
  
  /* ----- Mobile Dropdown ----- */
  /* weil der z-index nicht funktioniert.... */
  .helper-div {
    position: absolute;
    height: 82px;
    width: 99%;
  
    background-color: var(--color-primary-dark);
    border-radius: clamp(0.75rem, 2vw, 1.5rem);
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 5px; */
  
    z-index: -9;
    top: 0.1rem;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .mobile-menu {
    position: absolute;
    z-index: -10;
    top: 0.9375rem;
    left: 50%;
    transform: translateX(-50%);
  
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2.4rem;
  
    max-height: 90vh;
    height: auto;
    width: 90%;
    padding-top: 9.5rem;
    padding-bottom: 2.5rem;
    overflow: auto;
  
    background-color: var(--color-primary-dark);
    border-radius: 3.125rem 3.125rem 1.5rem 1.5rem;
    box-shadow: var(--shine);  
  }
  
  .mobile-menu,
  .desktop-menu {
    display: none;
  }
  
  .mobile-menu.open {
    display: flex;
  }
  