@media (prefers-color-scheme: light) {

body, body.lightmode {
    background-color: var(--background-secondary);
  color: var(--background-primary);
}

.background-gradient-1, .background-gradient-2, .background-gradient-3 {
  background: var(--color-secondary-dark);
  background: var(--gradient-background-light);
}

.wave-divider-1, .wave-divider-3, .wave-divider-4 {
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 2529 200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgb(234, 182, 189)" d="M 0 119 C 163.60000000000002 119 245.39999999999998 62 409 62 L 409 62 L 409 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgb(234, 182, 189)" d="M 408 62 C 623.6 62 731.4 166 947 166 L 947 166 L 947 0 L 408 0 Z" stroke-width="0"></path> <path fill="rgb(234, 182, 189)" d="M 946 166 C 1107.2 166 1187.8 66 1349 66 L 1349 66 L 1349 0 L 946 0 Z" stroke-width="0"></path><path fill="rgb(234, 182, 189)" d="M 1348 66 C 1826.8 66 2066.2 196 2545 196 L 2545 196 L 2545 0 L 1348 0 Z" stroke-width="0"></path></svg>');
}

.wave-divider-2, .wave-divider-5 {
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 2529 200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgb(234, 182, 189)" d="M 0 91 C 183.20000000000002 91 274.79999999999995 194 458 194 L 458 194 L 458 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgb(234, 182, 189)" d="M 457 194 C 897 194 1117 62 1557 62 L 1557 62 L 1557 0 L 457 0 Z" stroke-width="0"></path> <path fill="rgb(234, 182, 189)" d="M 1556 62 C 1716.4 62 1796.6 157 1957 157 L 1957 157 L 1957 0 L 1556 0 Z" stroke-width="0"></path><path fill="rgb(234, 182, 189)" d="M 1956 157 C 2191.6 157 2309.4 61 2545 61 L 2545 61 L 2545 0 L 1956 0 Z" stroke-width="0"></path></svg>');
}

.btn-primary {
    color: var(--color-secondary-super-light);
  background-color: var(--color-secondary-dark);
}

.btn-secondary {
    color:var(--color-secondary-dark);
} 

.btn-secondary::before {
    background-color: var(--color-primary-super-light);
}

.btn-secondary:hover {
    color: var(--color-primary-dark);
}

.expertise-card, .expertise-card li {
    background-color: var(--background-secondary);
  border: 1px solid var(--color-secondary-dark);
}

.expertise-card h4 {
    background-color: var(--background-secondary);
}

header, .mobile-menu {
    background-color: var(--background-secondary);
}

nav a {
    color: var(--color-primary-dark);
}

.mobile-btn {
    background-color: var(--color-primary-super-light);
}

.project-card {
    background-color: var(--color-secondary-super-light);
}

/* ------------------------------------------------ */
/* Media Queries */

    .desktop-menu a:hover {
          color: var(--color-primary);
          text-shadow: 0px 0px 5px var(--color-primary-dark);
        }
      

    }