.section-projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Divide the row into 5 equal parts */
  gap: 2rem; /* Add spacing between grid items */
}

.project-card {
  background-color: var(--color-primary-dark);
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: var(--shine-soft);

  transition: all 0.3s;
}

.project-card:hover {
  cursor: pointer;
  box-shadow: var(--shine-strong);
}

/* Odd rows: First project takes 3/5, second project takes 2/5 */
.project-card:nth-child(4n-3) {
  grid-column: span 3; /* Take up 3/5 of the row */
}
.project-card:nth-child(4n-2) {
  grid-column: span 2; /* Take up 2/5 of the row */
}

/* Even rows: First project takes 2/5, second project takes 3/5 */
.project-card:nth-child(4n-1) {
  grid-column: span 2; /* Take up 2/5 of the row */
}
.project-card:nth-child(4n) {
  grid-column: span 3; /* Take up 3/5 of the row */
}

.project-card a {
  text-decoration: none;
  color: inherit;
}

.project-img-container {
  position: relative;
}

.project-img-container::before {
  content: "";
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(16, 12, 31, 0.9) 0%,
    rgba(0, 0, 0, 0) 50%
  );
}

.project-img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  object-position: top;
  z-index: 0;
}

.project-card-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* ------------------------------------------------ */
/* Media Queries */
@media (max-width: 768px) {
  .projects-container {
    column-gap: 0;
    row-gap: 2rem;
    grid-template-columns: 1fr; /* Single column layout for small screens */
  }

  .project-card {
    grid-column: span 1; /* Each project takes full width */
  }
}
