* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  /* COLORS */
  /* Primary */
  --color-primary-dark: #461e5c; 
  --color-primary: #72369d; 
  --color-primary-super-light: #cea7ee; 
  /* Secondary */
  --color-secondary-dark: #6a0a1d; 
  --color-secondary: #cc2728; 
  --color-secondary-light: #e6483d; 
  --color-secondary-super-light: #f08367; 
  /* Backgrounds */
  --background-primary: #100c1f;
  --gradient-background: linear-gradient(135deg, rgba(16,12,31,1) 0%, rgba(70,30,92,1) 65%, rgba(106,10,29,1) 100%);

  /* TYPOGRAPHY */
  /* Headings */
  --h1: 5.6rem;
  --h1-line: 6.8rem;
  --h2: 3.4rem;
  --h2-line: 4.2rem;
  --h3: 2.4rem;
  --h3-line: 3.2rem;
  --h4: 2rem;
  --h4-line: 2.4rem;
  /* Body */
  --body-1: 1.8rem;
  --body-1-line: 2.8rem;
  --body-2: 1.6rem;
  --body-2-line: 2.4rem;
  --body-3: 1.4rem;
  --body-3-line: 2rem;
  --body-4: 1.2rem;
  --body-4-line: 1.6rem;

  /* SHADOWS */
  --shine-soft: rgba(182, 123, 230, 0.2) 0px 8px 24px;
  --shine-medium: rgba(230, 72, 61, 0.2) 0px 0px 24px, rgba(230, 72, 61, 0.2) 0px 0px 39px, rgba(230, 72, 61, 0.2) 0px 0px 60px;
  --shine-strong: rgba(230, 72, 61, 0.2) 0px 0px 24px, rgba(230, 72, 61, 0.2) 0px 0px 39px, rgba(230, 72, 61, 0.2) 0px 0px 54px, rgba(230, 72, 61, 0.2) 0px 0px 74px;
}

/* --- Body --- */
body {
  background-color: var(--background-primary);
  color: var(--color-primary-super-light);
}

/* --- Main --- */
main {
  max-width: 1440px;
  margin: 30rem auto 10rem;

  display: flex;
  flex-direction: column;
  gap: 40rem;
}

section {
  margin: auto;
  max-width: 75%;
}

h1 {
  font-size: var(--h1);
  line-height: var(--h1-line);
  text-transform: uppercase;
}

h2 {
  font-size: var(--h2);
  line-height: var(--h2-line);
  text-transform: uppercase;
}

h3 {
  font-size: var(--h3);
  line-height: var(--h3-line);
  text-transform: uppercase;
}

h4 {
  font-size: var(--h4);
  line-height: var(--h4-line);
  text-transform: uppercase;
}

p {
  font-size: var(--body-1);
  line-height: var(--body-1-line);
}

.emph {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

/* Für weiches scrollen zu den Sections mit Offset */
html {
  scroll-behavior: smooth;
}

.scroll-offset {
  scroll-margin-top: 20rem; 
}

/* ----- Logo ----- */
.dragon-logo {
  width: 8rem;
  height: auto;
}

/* ------------------------------------ */
/* Media Queries */
@media (max-width: 468px) {
  section {
    max-width: 88%;
  }  
}